telegram bot.json
{
  "name": "telegram bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        -560
      ],
      "id": "bec08dad-2ff4-4d9b-9acc-ce64d63379d5",
      "name": "Telegram Trigger",
      "webhookId": "3bb4d270-23b2-4647-8e31-9ae53fa0fd10",
      "credentials": {
        "telegramApi": {
          "id": "nbmTZpIZb5icYLpv",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -368,
        -544
      ],
      "id": "61aa81ae-0ca7-4123-9db5-44bdeeaaad6f",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "modelName": "models/gemini-robotics-er-1.5-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -512,
        -336
      ],
      "id": "3131d33c-e3d6-409f-8a04-17c95f3a33e1",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JWV9D6F66umUjrba",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.from.id }}{{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -368,
        -336
      ],
      "id": "33e066e4-b584-45c6-89c9-283bebbef191",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        -544
      ],
      "id": "058bdc78-2c13-4dde-9d45-1366750d3483",
      "name": "Send a text message",
      "webhookId": "1bc33c9a-0fcb-44a2-875a-e83d625c3780",
      "credentials": {
        "telegramApi": {
          "id": "nbmTZpIZb5icYLpv",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4b3b4f73-fc22-4be0-bb47-b53776432e16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8daa3f31cbe30029719872af94ddca1e8ce0b436629660b3a13f5d4d209cb52"
  },
  "id": "I3aejt4v24rwGPFQ",
  "tags": []
}